
.menu-destkop
  .container
    .row.bor-bot
      .col-lg-3.col-sm-6.col-xs-12
        .logo-secciones
          a(href="index.html")
            img(src="img/anaya-logo.png")
      .col-lg-3.p-top-20.col-sm-6.col-xs-12
        p.left Aliados en el desarrollo y crecimiento de nuestros clientes
      .col-lg-2.col-sm-6.col-xs-4
        img(src="img/chambers.jpg")
      .col-lg-4.col-sm-6.col-xs-8
        .inline-ele
          img.small(src="img/tel.png")
          a(href="tel:5553350707") (55) 5335 0707 
        .inline-ele
          a(href="mailto:contacto@anaya-abogados.com")
            img.small(src="img/mail.png")
        .inline-ele.p-top-20
          a(href="index.html") Español #[img.small(src="img/esp.png")]
          a(href="index-ing.html") Inglés #[img.small(src="img/usa.png")]
    
        
.menuuu
  button.btn-menu.bck-white#btn-menu
    span
    span
    span
    span
  nav
    ul
      li: a(href="quienes-somos.html") Quiénes Somos
      li: a(href="areas-practica.html") Áreas de práctica
      li: a(href="equipo.html") Equipo
      li: a(href="publicaciones.html") Publicaciones
      li.active: a(href="contacto.html") Contacto