include ../templates/config.pug
- site.page = 'Inicio'
- scripts = ['js/jquery-3.2.1.min.js','js/bootstrap.min.js', 'js/menu.js'];

doctype
html(lang="es")
    include ../templates/head.pug
    body
        include ../templates/menu.pug 
        .container
            .row
              .col-lg-10.justify-content-md-center.offset-md-1#primary_nav_wrap
                ul.men
                  li: a(href="quienes-somos.html") Quiénes Somos
                  li.relative: a(href="areas-practica.html") Áreas de práctica
                    ul.current-menu-item
                      li: a(href="corporativo.html") Corporativo
                      li: a(href="administrativo.html") Administrativo
                      li: a(href="fiscal.html") Fiscal
                  li: a(href="equipo.html") Equipo
                  li: a(href="publicaciones.html") Publicaciones
                  li.active: a(href="contacto.html") Contacto
            .row
                .col-lg-10.justify-content-md-center.offset-md-1
                  h1 Contáctanos
                  img(src="http://placehold.it/1200x300", alt="")
                  hr.cont
                  .row.m-top-30
                    .col-lg-7
                      p Ponte en contacto con nosotros
                          
                          form
                            .form-group
                              .row
                                .col-lg-4
                                  input(type="text" placeholder="Nombre*" id="nombre")
                                .col-lg-4
                                  input(type="email" placeholder="E-mail*" id="mail")
                                .col-lg-4
                                  input(type="asunto" placeholder="Asunto*" id="asunto")
                                  br
                                  br
                              .row
                                .col-lg-12.form-group
                                  label(for="msj") Mensaje*
                                  text-area.form-control( placeholder="Mensaje*" id="msj" rows="3")
                              .row
                                .col-lg-3.offset-md-10
                                  button.but(type="submit" class="btn btn-primary") Enviar
                    .col-lg-5
                      p Oficina principal en Ciudad de México
                      .row
                        .col-sm-12
                          img.float(src="img/direc.png", alt="")
                          a(href="" target="_blank") Avenida Porfirio Díaz 79, Col. Del Valle Centro, C.P. 03100, Ciudad de México
                          hr

                      .row
                        .col-sm-12
                          img.float(src="img/email.png", alt="")
                          a(href="mailto:contacto@anaya-abogados.com" target="_blank") contacto@anaya-abogados.com
                          hr
                      .row
                        .col-sm-12
                          img.float(src="img/phone.png", alt="")
                          a(href="tel:(52) 55 5335 0707" target="_blank") (52) 55 5335 0707
                          hr

        include ../templates/js.pug
