include ../templates/config.pug
- site.page = 'Inicio'
- scripts = ['js/jquery-3.2.1.min.js','js/bootstrap.min.js', 'js/menu.js'];

doctype
html(lang="es")
    include ../templates/head.pug
    body
        include ../templates/menu.pug 
        .container
            .row
              .col-lg-10.justify-content-md-center.offset-md-1#primary_nav_wrap
                ul.men
                  li: a(href="quienes-somos.html") Quiénes Somos
                  li.active.relative: a(href="areas-practica.html") Áreas de práctica
                    ul.current-menu-item
                      li: a(href="corporativo.html") Corporativo
                      li: a(href="administrativo.html") Administrativo
                      li: a(href="fiscal.html") Fiscal
                  li: a(href="equipo.html") Equipo
                  li: a(href="publicaciones.html") Publicaciones
                  li: a(href="contacto.html") Contacto
            .row
                .col-lg-10.justify-content-md-center.offset-md-1
                  h1 Hidrocarburos (Industria Petroquímica y Gas Natural)
                  hr.hrbold
                  .row.m-top-30
                    .col-sm-7
                      p Asesoramos en el desarrollo y estructuración de proyectos de inversión en la industria de hidrocarburos en México tanto a empresas nacionales como extranjeras. Nuestra asistencia se enfoca a procedimientos de contratación pública y negociación, asistiendo en la celebración y ejecución de contratos relacionados con la exploración y producción de petróleo y actividades relativas a transportación, almacenamiento, distribución y comercialización de gas natural.
                    .col-sm-5
                      img(src="img/anaya-hidrocarburos-1.jpg", alt="")

            .row
              .col-sm-12.center
                a.but(href="energetico.html") Regresar


                    

        
        include ../templates/js.pug
